[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
livelossplot = "*"
nltk = "*"

[packages]
pytelegrambotapi = "*"
torch = "*"
transformers = "*"

[requires]
python_version = "3.8"
