[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipykernel = "*"
jupyter = "*"
livelossplot = "*"
nltk = "*"

[packages]
pytelegrambotapi = "3.7.6"
python-dotenv = "0.15.0"
torch = "1.8.0"
transformers = "4.3.3"

[requires]
python_version = "3.8"
